#
priorart
reference

# Build artifacts
/build
/installs
/coverage.out
/dgraph2-server
/dgraph2-cli
/dgraph2-bulk
/dgraph2-live
/dgraph

# IDE
.idea
.vscode
*.iml

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out

# OS
.DS_Store

# Misc
vendor
.minio.sys
